@{
    ViewData["Title"] = "Програми тренувань у тренажерному залі";
}

<div class="text-center">
    <h1 class="display-4">Програми тренувань у тренажерному залі та правильне харчування</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
<div class="image">
    <img src="~/images/fea-1.jpg" alt="sport" />
</div>
